{% extends "base.html" %}
{% from "macro.html" import videos_bread with context %}
{% block head %}
    {{ super() }}
    <style>
        .border-card{
            border: 5px solid rgba(0 123 255 / 5%);
            margin: 0px 0px 5px 0px;
        }
        .video-link{
            text-decoration: none;
            color: #0f0f0f;
        }
        a:hover{
            color: #9d9d9d;
        }
    </style>
{% endblock %}
{% block title %}
    My Videos
{% endblock %}
{% block content %}
    <main>
        <div class="container">
            {% include "_flash.html" %}
            <div>
                {{ videos_bread(_("Life moments"), _("Videos")) }}
                {% for video in videos %}
                    <div class="border-card card video-card">
                        <a href="/videos/video/{{ video.id }}" class="card-thumbnail">
                            <img alt="{{ video.title }}" class="card-img-top portrait" src="{{ video.thumbnail_path }}">
                        </a>
                        <div class="card-body">
                            <a class="text-decoration-none text-muted" href="/videos/video/{{ video.id }}"> {{ video.title }} </a>
                            <div class="row">
                                <div class="col-lg-4">
                                    <i class="fa fa-comment"></i> {{ video.comments|length }}
                                    <i class="fa fa-heart"></i> {{ video.likes|length }}
                                </div>
                                <div class="col-lg-8 text-right">
                                    <i class="fa fa-calendar"></i> {{ (video.create_time|split)[0] }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if loop.index == 9 %}
                        <div class="text-center">
                            <button class="btn btn-outline-success"><a style="color: inherit;text-decoration: none;" href="{{ url_for('.index') }}"><span><i class="fa fa-exchange"></i> {{ _("Random") }}</span></a></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}