{% if not current_user.is_authenticated %}
    <div class="text-center login-hint">
        <div class="card-body text-center m-2 m-md-3 f-16" id="no-editor">
            <div>您尚未登录，
                <a href="/auth/login/"><span class="badge badge-info">登录</span></a> 或
                <a href="/auth/register/"><span class="badge badge-success">注册</span></a> 后评论
                <hr>
                <a href="/login/github"><i class="fa fa-github-square fa-2x"></i></a>
            </div>
        </div>
    </div>
{% else %}
    <div style="margin: 5px">
        <p id="commentPosition"></p>
        <textarea name="comment-editor" id="comment-editor" placeholder="please leave your comment here...">
        </textarea>
        <div class="blog-content-div">
            <p id="replyUser" class="float-left text-info ml-0" hidden="hidden"></p>
            <p id="commentErrorHint" class="text-right text-danger ml-0" hidden="hidden">please leave your comment here...</p>
            <br>
            <div>
                <div class="text-right">
                    <button hidden="hidden" class="btn btn-danger round-3" id="cancelReplyBtn">Cancel</button>
                    <button hidden="hidden" class="btn btn-secondary round-3" onclick="replyUserComment()" id="replyBtn">Reply</button>
                    <button class="btn btn-secondary round-3" data-blogid="{{ item.id }}" onclick="submitComment()" id="subCommentBtn">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}